.recent_works {
  background-color: $lightBackground;
  padding: 80px 25px;
  @include center;
  flex-direction: column;
  .heading {
    font-size: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: $textShadow;
    margin-bottom: 40px;
    position: relative;

    &::after {.projects {
  background-color: $lightBackground;
  padding: 30px 25px 60px 25px;
  @include center;
  flex-direction: column;
  .heading {
    font-size: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: $textShadow;
    margin-bottom: 30px;
    position: relative;

    &::after {
      @include borderBottom;
      height: 3px;
    }
  }

  .container {
    max-width: $maxWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $quickland;

    .card {
      width: 350px;
      margin: 15px;
      background-color: $white;
      border-radius: 10px;

      &:hover {
        box-shadow: $boxShadow;
      }

      .card_body {
        padding: 15px;
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
      }
      .title {
        font-size: 1.2rem;
        font-weight: 700;
        color: #111;
        margin-bottom: 10px;
        text-align: center;
      }
      .description {
        font-size: 1rem;
        color: $dark;
        margin-bottom: 10px;
      }
      .card_footer {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin-top: 15px;
        a {
          text-decoration: none;
          color: $white;
        }
        .tag {
          background-color: $lightgreen;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: $lightgreen_hover;
            box-shadow: $boxShadow;
          }
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .projects .container {
    .card {
      width: 100%;
      margin: 15px 0;
      img {
        object-fit: cover;
        height: 350px;
      }

      .title {
        font-size: 2rem;
      }
      .description {
        font-size: 1.5rem;
      }
      .tag {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: $sm) {
  .projects {
    .heading {
      font-size: 2.8rem;
    }
    .container {
      .card {
        width: 100%;
        margin: 15px 0;
        img {
          object-fit: cover;
          height: 190px;
        }
        .title {
          font-size: 1.8rem;
        }
        .description {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .projects {
    .heading {
      font-size: 2.4rem;
    }
  }
}
      @include borderBottom;
      height: 2px;
    }
  }

  .container {
    max-width: $maxWidth;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    .image-container {
      height: 300px;
      position: relative;
      overflow: hidden;

      // width: 300px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }

      &:hover .text {
        position: absolute;
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &::after {
          transform: scale(0.8);
          opacity: 1;
        }
      }

      .text {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 50%;
        left: 50%;
        width: 0%;
        height: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $green_cover;
        border-radius: 15px;
        transform: scale(1);
        transition: all 0.3s;
        color: $white;
        z-index: -1;

        .title {
          font-size: 1.5rem;
        }
        .tech {
          font-size: 14px;
          font-style: italic;
        }

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          border: 2px solid $white;
          border-radius: 15px;
          padding: 10px;
          position: absolute;
          opacity: 0;
          transition: all 0.3s;
        }
      }
    }
  }
}

@media (min-width: $md) {
  .recent_works {
    .heading {
      font-size: 2.8rem;
    }

    .container {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

@media (min-width: 1000px) {
  .recent_works .container {
    display: grid;
    grid-template-rows: 220px 220px;
    grid-template-columns: repeat(3, 1fr);

    gap: 1rem;
    grid-template-areas:
      'a a d'
      'b c d';

    .image-container:first-child {
      grid-area: a;
    }
    .image-container:nth-child(2) {
      grid-area: b;
    }
    .image-container:nth-child(3) {
      grid-area: c;
    }
    .image-container:nth-child(4) {
      grid-area: d;
    }

    .image-container {
      height: 100%;
      position: relative;
      // width: 300px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: $xs) {
  .recent_works {
    .heading {
      font-size: 2.4rem;
    }
  }
}
